@import "tailwindcss";
html{
  scroll-behavior: smooth;
  background-color: white;
}
body {
   font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  @apply bg-blue-50 scroll-smooth;
}
.scrollbar-hidden::-webkit-scrollbar {
  scroll-behavior: smooth;
  display: none;
}
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none; 
  scroll-behavior: smooth;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
@media (min-width: 900px) and (max-width: 1199px) {
  .three-cols-900 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.custom-scroll::-webkit-scrollbar {
  border-radius: 10px;
  width: 8px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: #e5e7eb; 
  border-radius: 10px;
  border-radius: 4px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 4px;
  border: 2px solid #e5e7eb;
  border-radius: 10px;
}
.custom-scroll {
  @apply rounded;
  scrollbar-width: thin;
  scrollbar-color: rgb(181, 199, 186) white;
}
@media (min-width: 300px) and (max-width: 700px) {
  .custom-scroll {
  @apply rounded;
  scrollbar-width: none;
}
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none;   
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}